<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy English Part: search results</title>
</head>
<body>
<h1 style="text-align:center">Frase: {{text}}</h1>
<table align="center">
    {% for dictionary in data %}
    <tr>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td>
            <h3 style="text-align:center">Episode № {{dictionary['episode_no']}}</h3>
        </td>
    </tr>
    <tr>
        <td>
            <p style="text-align:center">{{dictionary['video_title']}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <audio controls style="margin: 0 auto; display: block;">
                <source src="/static/{{dictionary['video_id']}}.mp3#t={{dictionary['hours']}}:{{dictionary['minutes']}}:{{dictionary['seconds']}}"
                        type="audio/mp3">
            </audio>
        </td>
    </tr>
    <tr>
        <td>
            <p></p>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>