<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
    <tr>
        <td>
            <p>fdfd</p>
        </td>
    </tr>
    <tr>
        <td>
            <audio controls>
                <source src="/static/1.mp3#t=00:03:26" type="audio/mp3">
            </audio>
        </td>
    </tr>
    <tr>
        <td>
            <audio controls>
                <source src="../../resources/2.mp3#t=00:05:26" type="audio/mpeg">
            </audio>
        </td>
    </tr>
</table>
</body>
</html>